In [2]:
import numpy as np
import sys
import gc
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [79]:
d16 = pd.read_csv("data/properties_2016.csv")
t16 = pd.read_csv("data/train_2016.csv")
print(len(d16),len(t16))

2985217 90275

In [80]:
d17 = pd.read_csv("data/properties_2017.csv")
t17 = pd.read_csv("data/train_2017.csv")
print(len(d17),len(t17))

2985217 77613

In [69]:
table16 = pd.merge(d16,t16,on=["parcelid"],how="inner")
table17 = pd.merge(d17,t17,on=["parcelid"],how="inner")

In [70]:
assert len(table16) == len(t16)
assert len(table17) == len(t17)

In [73]:
data_table = pd.concat([table16,table17],axis = 0,ignore_index=True,join="outer")
print(f"{len(t16)}+{len(t17)}={len(data_table)}")
assert len(data_table) == len(t16)+len(t17)

90275+77613=167888

In [82]:
for col in data_table.columns:
    print(f"{col}: {str(data_table[col].dtype)}")
    u = data_table[col].unique()
    print(f"unique values: {len(u)} {u if len(u)<=20 else ''}")
    x = data_table[col].values
    x_not_null = data_table[col].notnull().values
    x_nn = x[x_not_null]
    print(f"{len(x_nn)} values are not null, covering {len(x_nn)/len(x):0.4} of all data.")
    print("")

parcelid: int64
unique values: 165210
167888 values are not null, covering 1.0 of all data.

airconditioningtypeid: float64
unique values: 7 [nan  1.  5. 13. 11.  9.  3.]
53788 values are not null, covering 0.3204 of all data.

architecturalstyletypeid: float64
unique values: 7 [nan  7. 21.  8.  2.  3. 10.]
468 values are not null, covering 0.002788 of all data.

basementsqft: float64
unique values: 79
93 values are not null, covering 0.0005539 of all data.

bathroomcnt: float64
unique values: 26
167854 values are not null, covering 0.9998 of all data.

bedroomcnt: float64
unique values: 18 [ 3.  2.  4.  5.  6.  1.  0.  8. 10.  7. 12.  9. 13. 11. 15. 16. 14. nan]
167854 values are not null, covering 0.9998 of all data.

buildingclasstypeid: float64
unique values: 3 [nan  4.  3.]
31 values are not null, covering 0.0001846 of all data.

buildingqualitytypeid: float64
unique values: 13 [nan  4.  7. 10.  1.  8. 12.  6. 11.  9.  3.  5.  2.]
107173 values are not null, covering 0.6384 of all data.

calculatedbathnbr: float64
unique values: 25
166056 values are not null, covering 0.9891 of all data.

decktypeid: float64
unique values: 2 [nan 66.]
1272 values are not null, covering 0.007576 of all data.

finishedfloor1squarefeet: float64
unique values: 2275
12893 values are not null, covering 0.0768 of all data.

calculatedfinishedsquarefeet: float64
unique values: 5826
166992 values are not null, covering 0.9947 of all data.

finishedsquarefeet12: float64
unique values: 5730
159519 values are not null, covering 0.9502 of all data.

finishedsquarefeet13: float64
unique values: 18 [  nan 1440. 1416. 1344. 1536. 1584. 1056. 1566. 1248. 1464. 1152. 1392.
 1488. 1300. 1512. 1200. 1560. 1060.]
75 values are not null, covering 0.0004467 of all data.

finishedsquarefeet15: float64
unique values: 2620
6591 values are not null, covering 0.03926 of all data.

finishedsquarefeet50: float64
unique values: 2302
12893 values are not null, covering 0.0768 of all data.

finishedsquarefeet6: float64
unique values: 650
807 values are not null, covering 0.004807 of all data.

fips: float64
unique values: 4 [6111. 6037. 6059.   nan]
167854 values are not null, covering 0.9998 of all data.

fireplacecnt: float64
unique values: 6 [nan  1.  2.  3.  4.  5.]
17896 values are not null, covering 0.1066 of all data.

fullbathcnt: float64
unique values: 17 [ 2.  1.  3.  7.  5. nan  4.  6. 10.  8.  9. 12. 11. 20. 15. 18. 13.]
166056 values are not null, covering 0.9891 of all data.

garagecarcnt: float64
unique values: 16 [ 2.  1.  3. nan  4.  6.  0.  5.  8. 24. 10.  7. 11.  9. 14. 13.]
55457 values are not null, covering 0.3303 of all data.

garagetotalsqft: float64
unique values: 1036
55457 values are not null, covering 0.3303 of all data.

hashottuborspa: float64
unique values: 1 [1.]
167888 values are not null, covering 1.0 of all data.

heatingorsystemtypeid: float64
unique values: 13 [nan  2.  7.  6. 24. 20. 13.  1. 18. 12. 11. 10. 14.]
105651 values are not null, covering 0.6293 of all data.

latitude: float64
unique values: 126380
167854 values are not null, covering 0.9998 of all data.

longitude: float64
unique values: 126313
167854 values are not null, covering 0.9998 of all data.

lotsizesquarefeet: float64
unique values: 25368
149446 values are not null, covering 0.8902 of all data.

poolcnt: float64
unique values: 2 [nan  1.]
34075 values are not null, covering 0.203 of all data.

poolsizesum: float64
unique values: 388
1838 values are not null, covering 0.01095 of all data.

pooltypeid10: float64
unique values: 2 [nan  1.]
1626 values are not null, covering 0.009685 of all data.

pooltypeid2: float64
unique values: 2 [nan  1.]
2278 values are not null, covering 0.01357 of all data.

pooltypeid7: float64
unique values: 2 [nan  1.]
31776 values are not null, covering 0.1893 of all data.

propertylandusetypeid: float64
unique values: 15 [265. 266. 261. 269. 246. 263. 248. 247. 275. 260. 267. 264.  31.  47.
  nan]
167854 values are not null, covering 0.9998 of all data.

rawcensustractandblock: float64
unique values: 57790
167854 values are not null, covering 0.9998 of all data.

regionidcity: float64
unique values: 179
164579 values are not null, covering 0.9803 of all data.

regionidcounty: float64
unique values: 4 [2061. 3101. 1286.   nan]
167854 values are not null, covering 0.9998 of all data.

regionidneighborhood: float64
unique values: 506
66986 values are not null, covering 0.399 of all data.

regionidzip: float64
unique values: 391
167769 values are not null, covering 0.9993 of all data.

roomcnt: float64
unique values: 18 [ 5.  4.  8.  6.  9.  7.  0. 10.  3. 11. 12.  2. 13.  1. 18. 14. 15. nan]
167854 values are not null, covering 0.9998 of all data.

storytypeid: float64
unique values: 2 [nan  7.]
93 values are not null, covering 0.0005539 of all data.

threequarterbathnbr: float64
unique values: 6 [ 1. nan  2.  4.  3.  7.]
22115 values are not null, covering 0.1317 of all data.

typeconstructiontypeid: float64
unique values: 5 [nan  6.  4. 13. 10.]
522 values are not null, covering 0.003109 of all data.

unitcnt: float64
unique values: 14 [ nan   1.   2.   4.   3.   9. 143.   5.   6.  70.  11. 237.  42.  45.]
109056 values are not null, covering 0.6496 of all data.

yardbuildingsqft17: float64
unique values: 750
5039 values are not null, covering 0.03001 of all data.

yardbuildingsqft26: float64
unique values: 113
165 values are not null, covering 0.0009828 of all data.

yearbuilt: float64
unique values: 139
166828 values are not null, covering 0.9937 of all data.

numberofstories: float64
unique values: 6 [ 2.  1. nan  3.  4.  6.]
38169 values are not null, covering 0.2273 of all data.

fireplaceflag: float64
unique values: 1 [1.]
167888 values are not null, covering 1.0 of all data.

structuretaxvaluedollarcnt: float64
unique values: 96513
167359 values are not null, covering 0.9968 of all data.

taxvaluedollarcnt: float64
unique values: 102171
167852 values are not null, covering 0.9998 of all data.

assessmentyear: float64
unique values: 3 [2015. 2016.   nan]
167854 values are not null, covering 0.9998 of all data.

landtaxvaluedollarcnt: float64
unique values: 102190
167851 values are not null, covering 0.9998 of all data.

taxamount: float64
unique values: 149916
167843 values are not null, covering 0.9997 of all data.

taxdelinquencyflag: float64
unique values: 2 [0. 1.]
167888 values are not null, covering 1.0 of all data.

taxdelinquencyyear: float64
unique values: 14 [nan 15. 13. 14. 11.  9. 12. 10.  8.  7.  6. 99.  4.  3.]
4683 values are not null, covering 0.02789 of all data.

censustractandblock: float64
unique values: 57545
167002 values are not null, covering 0.9947 of all data.

logerror: float64
unique values: 78958
167888 values are not null, covering 1.0 of all data.

In [76]:
#This cell turn all columns into int or float
data_table["hashottuborspa"] = data_table["hashottuborspa"].map(lambda x: 1. if x else 0.)
data_table = data_table.drop(["propertycountylandusecode","propertyzoningdesc","transactiondate"],axis=1)
data_table["hashottuborspa"] = data_table["hashottuborspa"].map(lambda x: 1. if x else 0.)
data_table["taxdelinquencyflag"] = data_table["taxdelinquencyflag"].map(lambda x: 1. if x=="Y" else 0.)
data_table["fireplaceflag"] = data_table["fireplaceflag"].map(lambda x: 1. if x else 0.)

In [77]:
corr = data_table.corr()

In [78]:
print(corr["logerror"])

parcelid                        0.010730
airconditioningtypeid           0.007077
architecturalstyletypeid       -0.006321
basementsqft                    0.324681
bathroomcnt                     0.027038
bedroomcnt                      0.028513
buildingclasstypeid             0.125978
buildingqualitytypeid          -0.007896
calculatedbathnbr               0.029432
decktypeid                           NaN
finishedfloor1squarefeet        0.007591
calculatedfinishedsquarefeet    0.039710
finishedsquarefeet12            0.043977
finishedsquarefeet13           -0.040595
finishedsquarefeet15           -0.008050
finishedsquarefeet50            0.003137
finishedsquarefeet6             0.049720
fips                            0.007406
fireplacecnt                    0.028223
fullbathcnt                     0.028079
garagecarcnt                    0.027544
garagetotalsqft                 0.029616
hashottuborspa                       NaN
heatingorsystemtypeid          -0.016296
latitude                       -0.002931
longitude                       0.005644
lotsizesquarefeet               0.007831
poolcnt                              NaN
poolsizesum                     0.009122
pooltypeid10                         NaN
pooltypeid2                          NaN
pooltypeid7                          NaN
propertylandusetypeid          -0.002179
rawcensustractandblock          0.007375
regionidcity                   -0.000602
regionidcounty                 -0.007566
regionidneighborhood           -0.005500
regionidzip                    -0.003975
roomcnt                         0.009949
storytypeid                          NaN
threequarterbathnbr             0.023777
typeconstructiontypeid         -0.011416
unitcnt                        -0.000658
yardbuildingsqft17             -0.030916
yardbuildingsqft26              0.054912
yearbuilt                       0.011364
numberofstories                 0.010421
fireplaceflag                        NaN
structuretaxvaluedollarcnt      0.015546
taxvaluedollarcnt               0.005332
assessmentyear                  0.016091
landtaxvaluedollarcnt          -0.000759
taxamount                      -0.002186
taxdelinquencyflag              0.017996
taxdelinquencyyear             -0.051464
censustractandblock             0.004132
logerror                        1.000000
Name: logerror, dtype: float64

In [90]:
data_table.loc[data_table["rawcensustractandblock"].isnull(), "rawcensustractandblock"] = -1
data_table.loc[data_table["censustractandblock"].isnull(), "censustractandblock"] = -1
data_table[data_table["censustractandblock"]!=data_table["rawcensustractandblock"]][["censustractandblock","rawcensustractandblock"]]

        censustractandblock  rawcensustractandblock
0              6.111002e+13            6.111002e+07
1              6.111002e+13            6.111002e+07
2              6.111001e+13            6.111001e+07
3              6.111001e+13            6.111001e+07
4              6.111001e+13            6.111001e+07
...                     ...                     ...
167849         6.037190e+13            6.037190e+07
167850         6.059063e+13            6.059063e+07
167851        -1.000000e+00            6.059052e+07
167852        -1.000000e+00            6.059022e+07
167853        -1.000000e+00            6.059052e+07

[167854 rows x 2 columns]

In [91]:
data_table.loc[data_table["censustractandblock"]>0,"censustractandblock"].min()

60371011101000.0